header {
  font-size: Large;
  font-style: oblique;
  font-family:'Courier New';
  box-shadow: 0px 5px 8px black;
}

body{
    background-image: url(/Vaporwave.png);
}

h1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 3px 3px 2px black;
    text-align:center;
    padding: 80px;
}

input{
    text-align: center;
    box-shadow: 3px 3px 2px black;
}

form{
    text-align: center;
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: 600;
    text-shadow: 2px 2px 2px black;
}

p{
    text-align: center;  
}

#imageContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
}

.navbar-custom{
    color: white;
    background-color: rgb(46, 20, 119);
    text-shadow: 3px 3px 2px black;
}
.navbar-brand{
    color: white;
    text-shadow: 3px 3px 2px black;
}
.nav-link{
    color: white;
    text-shadow: 3px 3px 2px black;
}

.navbar-toggler{
    border-color: white;
    color: white;
}