header {
  font-size: Large;
  font-style: oblique;
    font-family:'Courier New';
}

body{
    background-image: url(/Vaporwave.png);
}

h1{
    text-align:center;
    padding: 80px;
}

input{
    text-align: center;
}

form{
    text-align: center;
}

footer{
    text-align: center;
}

p{
    text-align: center;
}

#imageContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
}

.navbar-custom{
    background-color: rgb(46, 20, 119);
}